<mat-sidenav-container class="flex-1">
  <mat-sidenav #sidenav class="!w-auto p-0" [disableClose]="false">
    <mat-nav-list class="w-max">
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="item.link" class="whitespace-nowrap">
        <mat-icon *ngIf="!!item.icon" aria-hidden="false">{{ item.icon }}</mat-icon>
        {{ item.description }}
      </a>
      <a mat-list-item (click)="toggle()" class="whitespace-nowrap">
        <mat-icon aria-hidden="false">close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
