<mat-card class="flex flex-col justify-around items-center">
  <mat-card-title>{{listTitle}}</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      @for (item of shuffleListItem; track item) {
        <mat-list-item role="listitem">{{item.description}}
          @if (canDelete) {
            <button mat-button (click)="itemDeleteById(item.id)" color="warn">
              <mat-icon aria-hidden="false" aria-label="Delete icon">close</mat-icon>
            </button>
          }
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>